
#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0rem;
  text-align: center;
  font-family: Poppins;
}

/* Lesson Card CSS Code Snipet */


.Lesson-item-content{
  position: relative;
  display: block;
  left: 0px;
  margin: 6px 10px;
  max-width: 450px;

} 

.lesson-rounded-rectangle{
  display: grid;
  grid-template-columns: 1fr 0.1fr;
  align-content: center;
  justify-content:space-between ;
  align-items: center;
  background-color: white;
  border-radius: 60px;
  cursor: pointer;
  transition: 0.3s;
  height: 45px;
  min-width: 300px;
  border: solid 1px rgba(108, 61, 218, 0.3);
  overflow: hidden;
}

/* .lesson-rounded-rectangle{
  display: flex;
  justify-content:space-between ;
  align-items: center;
  background-color: white;
  border-radius: 60px;
  cursor: pointer;
  transition: 0.3s;
  height: 45px;
  min-width: 300px;
  border: solid 1px rgba(108, 61, 218, 0.3);
  overflow: hidden;
} */

.lesson-rounded-rectangle:hover{

  background-color: #9871F3;
    .text-field{
    color: white;
    }
    .Navigation-icon{
      color:rgba(152, 113, 243, 0.4);
    }
    .inner-navigate-circle{
      background-color: white;
    }
    .navigate-circle{
      background-color:rgba(255, 255, 255, 0.5);
    }
}



.lesson-rounded-rectangle:active{
 background-color: #a88aee;
 transform: scale(0.9);

    .text-field{
    color: white;
    }
    .Navigation-icon{
      color:rgba(152, 113, 243, 0.4);
    }
    .selection-dot{
        transform: scale(1.5);

    }

}




.lesson-rounded-rectangle .text-field{
  color: #7147d3;
  font-size: 14px;
  font-weight: 500;
  margin-right: 10px;
  transition: 0.3s;
  user-select: none;
  width: Auto;
  margin-left: 20px;
  text-align: left;
}

.lesson-rounded-rectangle .navigate-circle{
  grid-column: 2;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background-color: white;
  margin: 0px 6px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.3s;
  user-select: none;
}

.lesson-rounded-rectangle .inner-navigate-circle{
  width: 23px;
  height: 23px;
  border-radius: 50%;
  background-color: #9871F3;
  margin: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.3s;
  user-select: none;
}

.lesson-rounded-rectangle .Navigation-icon{
  color: white;
  transition: 0.3s;
  font-size: 18px;
  user-select: none;
  padding-top: 4px;
  padding-left: 2px;
}



/*Category Card CSS Code Snipet*/

.category-item-content{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 6px 30px;

} 

.selection-dot{
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: transparent;
  margin: 0px 8px 0px -18px;
  transition: 0.3s;
  
}

.category-rounded-rectangle{
  display: flex;
  justify-content:space-between ;
  align-items: center;
  background-color: white;
  border-radius: 60px;
  cursor: pointer;
  transition: 0.3s;
  height: 60px;
  min-width: 300px;
}


.category-rounded-rectangle:hover{

  background-color: #9871F3;
    .text-field{
    color: white;
    }
    .Navigation-icon{
      color:rgba(152, 113, 243, 0.4);
    }
    .inner-navigate-circle{
      background-color: white;
    }
    .navigate-circle{
      background-color:rgba(255, 255, 255, 0.5);
    }
}

.category-rounded-rectangle:hover > .selection-dot{
  background-color: #9871F3;

} 

.category-rounded-rectangle:active{
 background-color: #a88aee;
 transform: scale(0.9);

    .text-field{
    color: white;
    }
    .Navigation-icon{
      color:rgba(152, 113, 243, 0.4);
    }
    .selection-dot{
        transform: scale(1.5);

    }

}

.image-circle{
  display: flex;
  margin: 3px 3px 3px 5px;
  user-select: none;
  background-color: rgb(213, 213, 213);
  border-radius: 50%;
  overflow: hidden;
  position: absolute;


}

.image-circle img{
  width: 46px;
  height: 46px;
  margin: 0px;
  object-fit: cover;
  margin-left: 0px;
  user-select: none;
}

.category-rounded-rectangle .text-field{
  color: #9871F3;
  font-size: 16px;
  font-weight: 600;
  margin-right: 10px;
  transition: 0.3s;
  user-select: none;
  width: 200px;
  margin-left: 60px;
  text-align: left;
}

.navigate-circle{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: white;
  margin: 0 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.3s;
  user-select: none;
}

.inner-navigate-circle{
  width: 26px;
  height: 26px;
  border-radius: 50%;
  background-color: #9871F3;
  margin: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.3s;
  user-select: none;
}

.Navigation-icon{
  color: white;
  transition: 0.3s;
  font-size: 18px;
  user-select: none;
  padding-top: 4px;
  padding-left: 2px;
}

.category-card{
  padding: 20px;
  border-radius: 10px;
  background-color: rgb(243, 243, 243);
}


/* /*>>>>>>>>>>>>>> Selective Item CSS <<<<<<<<<<<<<<<<*/
/* 
.selective-item{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0%;
  transition: 0.5s ease-out;
  border-top: 0.5px solid;
  border-bottom: 0.5px solid;
  padding: 5px;
  line-height: 1.2rem;
  border-image: linear-gradient(to right,transparent,#acacac,transparent)5;
  z-index: 5;
  height: 30px;
}

.sub-text-field{

  color: #9871F3;
  font-size: 14px;
  font-weight: 400;
  margin-right: 50px;
  transition: 0.3s;
  user-select: none;
  padding-left: 10px;
  margin: 8px 25px 8px 2px;
  text-align: left;
}


.selective-item .navigate-circle{ 
    width: 28px;
    height: 28px;
}

.selective-item .Navigation-icon{
  font-size: 16px;
  text-align: center;
  justify-content: center;

}

.selective-item .inner-navigate-circle{
    background-color:white;
    width: 20px;
    height: 20px;
}

.selective-item .rounded-rectangle{
  width: 100%;
  justify-content: space-between;
  margin-left: 10px;
  margin-right: 10px;
  height: 36px;

}

.selective-item .rounded-rectangle:hover{
    background-color: #d2c1f9;
    
}


  .selective-item .rounded-rectangle:hover > .navigate-circle{
    background-color:#b597fc;
    
    .Navigation-icon{
      color: #a57ffc;
    }i
    .sub-text-field{
      color:#6c3dda;
      }
  }


.selective-item .rounded-rectangle:active{
 background-color: #decffe;
 transform: scale(0.8);

    .text-field{
    color: white;
    }
  
  .selective-item .inner-navigate-circle{
    background-color:white;
    width: 20px;
    height: 20px;
    }


} */ 

/* >>>>>>>>>>>>>>>> App.jsx CSS <<<<<<<<<*/
.shade-card{

  padding: 10px 0px;
  border-radius: 20px;
  background-color: rgba(188, 164, 244, 0.135);
}

.sub-title{
  color: #6c3dda;
  font-weight: 500;
    margin-bottom: 30px;
}
.contents{
    display: flex;
}
.sub-content-div{
  display: flex;
}


/* >>>>> Expander.jsx CSS Code <<<<<  */

.expander{
  margin: 10px;
  overflow: hidden;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 5px;
  backdrop-filter: blur(50px);
}

.expander-header {
  display: flex;
  align-items: center;
  padding-left: 1.5rem;
  position: relative;
  cursor: pointer;
  border-radius: 5px;
  height: 35px;
  font-size: 13px;
  transition: 0.05s;
  backdrop-filter: blur(50px);
}

.expander-header:hover{
  color: dodgerblue;
  background-color: #f1fafdb8;
  backdrop-filter: blur(50px);
}

.headertile{
  line-height: 1.2rem;
  line-height: 2rem;
  border-left: 2px solid;
  padding-left: 10px;
  border-image: linear-gradient(to bottom,transparent,#c7c7c7,transparent)7;

}
.expander-header::before{
  content: ">";
  padding-right: 0px;
  margin-right: 10px;
  margin-left: -10px;
  color: #353536;
  font-size: 20px;
  transition: 0.5s ease-out;
}

.expander-header.active::before{
  transform: rotate(90deg);
}

.expander-header::after {
  content: "\002B";
  font-size: 25px;
  font-weight: 350;
  position: absolute;
  right: 1rem;
  transition: 0.5s ease-out;
}
.expander-header.active::after{
  transform: rotate(90deg);
}

.expander-body {
  max-height: 0;
  overflow: hidden;
  position: relative;
  border-radius: 5px;
  backdrop-filter: blur(50px);
  transition: max-height 0.5s ease-out;
}

.expander-body-content{

  padding: 10px 0px 40px 40px;
  font-family: Poppins;
  font-weight: 300;
  font-size: 13px; 
  margin-right: 40px;
  line-height: 1.2rem;
  border-top: 2px solid;
  border-image: linear-gradient(to right,transparent,#656b70,transparent)1;
}

.expander-header.active + .expander-body{
  max-height: 200px;
}

.item-headers{
  font-weight: 500;
  color: #2a2a2a;
  display: grid;
  grid-template-columns: 1fr 1.8fr 0.8fr 0.3fr;
  padding-top: 10px;
  padding-bottom: 5px;
  margin-left: 5px;

}

.notify-bubble{
  background-color: #aee8f8;
  color: rgb(8, 83, 204);
  width: 20px;
  height: 20px;
  border-radius: 4px;
  text-align: center;
  align-content: center;
  font-size: 12px;
  font-weight: 500;
  margin-left: 8px;
  
}

/* Button CSS Code */

.btn{
  border-radius: 30em;
  height: 40px;
  padding: 0px 25px;
  margin: 20px 25px;
  user-select: none;
  color: white;
  background-color: #6c3dda; 
  transition: 0.3s ease-out;
  min-width: 8em;
}

.btn:hover{
  color: #6c3dda;
  background-color: white;
  border: solid 1px #6c3dda;
}

.btn:active {
  color: #6c3dda;
  background-color: white;
  border: solid 1px #6c3dda;
  transform: scale(1.2);
}

.btn:focus{
  outline-color: #6c3dda;
}


.lmsapp {
  display: grid;
  margin-top: 80px;
  grid-template-columns: 65% 35%;
  grid-template-rows: auto;

}

.grid1 {
  grid-column: 1;
  padding-right: 5px;
  margin-top: 20px;
  margin-left: -20px;

}

.grid2 {
  grid-column: 2;
  line-height: 1.2rem;
  border-left: 1px solid;
  border-image: linear-gradient(to bottom, transparent, #7e7e7e, transparent)1;
  padding-left: 15px;
  padding-right: 0px;
  margin-right: -20px;


}

.titlename {
  text-align: left;
}

.title-header {
  font-size: 22px;
  color: rgb(117, 78, 205);
  font-weight: 600;
  margin-left: 30px;
}

.title-subheader {
  font-size: 12px;
  color: rgb(76, 76, 76);
  font-weight: 400;
  padding-bottom: 5px;
}

.rectangle {
  width: 500px;
  height: 500px;
  background-color: #b08bc9;
  border-radius: 50%;
  display: block;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-70%, -50%);
  z-index: -1;
  filter: blur(150px);

}

/* >>>>> Expander.jsx CSS Code <<<<<  */

.expander {
  margin: 10px;
  overflow: hidden;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 5px;
  backdrop-filter: blur(50px);
}

.expander-header {
  display: flex;
  align-items: center;
  padding-left: 1.5rem;
  position: relative;
  cursor: pointer;
  border-radius: 5px;
  height: 35px;
  font-size: 13px;
  transition: 0.05s;
  backdrop-filter: blur(50px);
}

.expander-header:hover {
  color: dodgerblue;
  background-color: #f1fafdb8;
  backdrop-filter: blur(50px);
}

.headertile {
  line-height: 1.2rem;
  line-height: 2rem;
  border-left: 2px solid;
  padding-left: 10px;
  border-image: linear-gradient(to bottom, transparent, #c7c7c7, transparent)7;

}

.expander-header::before {
  content: ">";
  padding-right: 0px;
  margin-right: 10px;
  margin-left: -10px;
  color: #353536;
  font-size: 20px;
  transition: 0.5s ease-out;
}

.expander-header.active::before {
  transform: rotate(90deg);
}

.expander-header::after {
  content: "\002B";
  font-size: 25px;
  font-weight: 350;
  position: absolute;
  right: 1rem;
  transition: 0.5s ease-out;
}

.expander-header.active::after {
  transform: rotate(90deg);
}

.expander-body {
  max-height: 0;
  overflow: hidden;
  position: relative;
  border-radius: 5px;
  backdrop-filter: blur(50px);
  transition: max-height 0.5s ease-out;
}

.expander-body-content {

  padding: 10px 0px 40px 40px;
  font-family: Poppins;
  font-weight: 300;
  font-size: 13px;
  margin-right: 40px;
  line-height: 1.2rem;
  border-top: 2px solid;
  border-image: linear-gradient(to right, transparent, #656b70, transparent)1;
}

.expander-header.active+.expander-body {
  max-height: 200px;
}

.item-headers {
  font-weight: 500;
  color: #2a2a2a;
  display: grid;
  grid-template-columns: 1fr 1.8fr 0.8fr 0.3fr;
  padding-top: 10px;
  padding-bottom: 5px;
  margin-left: 5px;

}

.notify-bubble {
  background-color: #aee8f8;
  color: rgb(8, 83, 204);
  width: 20px;
  height: 20px;
  border-radius: 4px;
  text-align: center;
  align-content: center;
  font-size: 12px;
  font-weight: 500;
  margin-left: 8px;

}


/* >>>>> Expanded_item.jsx CSS Code <<<<< */

.Material-item {
  display: grid;
  color: #6c3dda;
  grid-template-columns: 3fr 1fr 0.8fr 0.3fr;
  padding: 5px 5px 5px 5px;
  text-wrap: wrap;
  font-size: 12px;
  background-color: #ffffff51;
  margin: 5px 0px 5px 0px;
  justify-content: center;
  border-radius: 50px;
  transition: 0.05s;
  justify-items: center;
  align-items: center;
  background-color: #eee7ff;
  height: 30px;
  padding-left: 15px;

}

.Material-item__column1 {
  text-align: left;
  width: 200px;

}

.Material-item:hover {
  background-color: #a57eff;
  color: rgb(255, 255, 255);
  cursor: pointer;
  backdrop-filter: blur(100px);

}

.Material-item:active {
  background-color: #fee9ffbb;
}

.checkbox {
  accent-color: rgb(185, 154, 244);
}

.Material-item__download-btn{
  margin: auto;
}

.Material-item__column2 {
  padding: 0px 10px 0px 0px;
}

.Material-item__view-btn{
  margin-top: 0px;
  width: 25px;
  height: 25px;
  padding: 0px;

}

.Material-item__download-btn{
  margin-top: 2px;
  margin-right: 10px;
  width: 25px;
  height: 25px;
  padding: 0px;
}

button{
  outline: #4646af;
}


/* >>>>> Material_content.jsx CSS Code <<<<<  */

.material-description {
  background-color: rgba(255, 255, 255, 0.4);
  padding: 10px;
  font-size: 13px;
  margin-right: 10px;
  margin-top: 10px;
  border-radius: 5px;
  backdrop-filter: blur(100px);
  font-size: 12px;
  transition: 0.2s;
  color: #6f43d6;
}

.material-description:hover {
  background-color: rgba(255, 255, 255, 0.6);
}

.modern-underline {
  border-width: 2px;
  border: 1px solid;
  border-image: linear-gradient(to right, transparent, #656b70, transparent)5;
}

.material-description h1 {
  font-size: 16px;
}

.grid-box-content {
  display: flex;
  font-size: 12px;
}

.grid-box {
  display: inline;
}

.grid-name {
  font-weight: 800;

}



/* >>>>> Video_player.jsx CSS Code <<<<<  */

.player {
  border-radius: 20px;
  margin-top: 0px;
  padding: 0px;
  overflow: hidden;
  background-color: rgba(208, 208, 208, 0.4);
  margin-right: 12px;
  position: relative;
  width: 455px;
  height: 300px;


}

.reactplayer {
  width: 200px;
  height: 300px;
  border-radius: 20px;
}

.alt-text {
  display: block;
  text-align: center;
  position: relative;
  top: 250%;
  left: 50%;
  margin: -10px;
  transform: translate(-50%, 850%);
  z-index: -1;
}

.video-header {
  font-size: 15px;
  font-weight: 500;
  align-content: center;
  text-align: center;
  margin-top: 40px;
  background-color: rgba(255, 255, 255, 0.605);
  margin-right: 12px;
  border-radius: 5px;
  box-shadow: #171717;
  opacity: 1;
  backdrop-filter: blue(10px);
  transition: 0.2s;
  height: 25px;
  cursor: pointer;
}

.video-header:hover {
  background-color: rgba(108, 61, 218, 0.197);
}


/*>>>>> Video_resources.js CSS Code  <<<<<*/
.video_page {
  top: 85px;
  position: relative;
  width: 100%;
  display: grid;
  grid-template-columns: 70% 1fr;
  grid-row: auto;
  margin: 5px;

}

.video_info {
  font-size: 13px;
  margin-right: 10px;
  margin-top: 10px;
  background-color: rgba(255, 255, 255, 0.4);
  backdrop-filter: blur(50px);
  border-radius: 5px;
  padding: 5px 10px 5px 10px;
  transition: 0.5s;
  color: rgb(117, 78, 205);
}

.video_info:hover {
  background-color: rgba(255, 255, 255, 0.8);
}

.video_info h1 {
  font-size: 18px;
  font-weight: 600;
  padding-bottom: -5px;
}

.fullscreen-header {
  text-align: left;
  font-size: 18px;
  font-weight: 600;
  margin-left: 15px;
  color: rgb(117, 78, 205);
}

.Vidoe-material-content {
  margin: 35px 5px 0px 0px;
  height: 93%;
  background-color: rgba(255, 255, 255, 0.4);
  backdrop-filter: blur(50px);
  border-radius: 5px;
  padding: 5px 10px 5px 10px;
  transition: 0.5s;

}

.Vidoe-material-content h1 {
  font-size: 15px;
  font-weight: 500;
}

.fullscreen-grid1-light-box {
  padding: 10px;
  background-color: rgb(114, 74, 204, 0.1);
  border-radius: 30px;
}

/*>>>>> Fullscreen_video_player.jsx CSS <<<<<<*/

.fullscreen-reactplayer {
  max-width: 100%;
  max-height: 20%;
}


.fullscreen-player {
  overflow: hidden;
  border-radius: 25px;

}

.fullscreen-player {
  width: 100%;
  margin-right: 10px;
}


/*Category Card CSS Code */

.category-item {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 6px 30px;


}

.selection-dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: transparent;
  margin: 0px 8px 0px -18px;
  transition: 0.3s;

}

.rounded-rectangle {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  border-radius: 60px;
  cursor: pointer;
  transition: 0.3s;
  height: 40px;
  min-width: 200px;
  margin-left: -10px;
  border: 1px solid #9871F3;
  width: 400px;
}


.rounded-rectangle:hover {

  background-color: #9871F3;

  .text-field {
    color: white;
  }

  .Navigation-icon {
    color: rgba(152, 113, 243, 0.4);
  }

  .inner-navigate-circle {
    background-color: white;
  }

  .navigate-circle {
    background-color: rgba(255, 255, 255, 0.5);
  }
}

.rounded-rectangle:hover>.selection-dot {
  background-color: #9871F3;

}

.rounded-rectangle:active {
  background-color: #a88aee;
  transform: scale(0.9);

  .text-field {
    color: white;
  }

  .Navigation-icon {
    color: rgba(152, 113, 243, 0.4);
  }

  .selection-dot {
    transform: scale(1.5);

  }

}

.text-field {
  color: #9871F3;
  font-size: 14px;
  font-weight: 600;
  margin-right: 0px;
  transition: 0.3s;
  user-select: none;
  margin-left: -50px;
  width: 250px;
  text-align: left;
}

.navigate-circle {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: white;
  margin: 0 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.3s;
  user-select: none;
}

.inner-navigate-circle {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #9871F3;
  margin: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.3s;
  user-select: none;
}

.Navigation-icon {
  color: white;
  transition: 0.3s;
  font-size: 14px;
  user-select: none;
  padding-top: 0px;
  padding-left: 0px;
}

.category-card {
  padding: 20px;
  border-radius: 10px;
  background-color: rgb(243, 243, 243);
}


/* Course Content page CSS Part */

.Expander-class {
  display: grid;
  grid-template-columns: 1fr 0.5fr;
  margin: 10px;
  padding: 10px;
  border-radius: 20px;
  background-color: rgba(116, 78, 205, 0.1);


}

.Expander-class-inner {
  display: flex;
  margin: 5px;
  border-radius: 10px;
  background-color: white;
  padding: 10px;
}

/*>>>>>>>>>>>>>>>>>> Selective_Card CSS <<<<<<<<<<<<<<<<<*/

.selective-card {
  display: flex;
  flex-direction: column;
  height: Auto;
  padding: 0px 2px 26px 2px;
  background-color: rgb(221, 207, 255);
  width: 300px;
  border-radius: 1em;
  overflow: hidden;
  transition: 0.4s ease-out;
  z-index: 1;
}

.selective-angle-point {
  width: 30px;
  height: 30px;
  background-color: rgb(221, 207, 255);
  transform: rotate(45deg) translate(-210%, 540%);
  position: relative;
  z-index: 0;
}



/*>>>>>>>>>>>>>> Selective Item CSS <<<<<<<<<<<<<<<<*/

.selective-item {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0%;
  transition: 0.5s ease-out;
  padding: 5px;
  border: none;
  z-index: 5;
  height: 30px;
  overflow: hidden;
}

.sub-text-field {
  color: #9871F3;
  font-size: 12px;
  font-weight: 500;
  transition: 0.3s;
  user-select: none;
  padding-left: 10px;
  margin: 8px 5px 8px 2px;
  text-align: left;
  text-wrap: nowrap;
  overflow: hidden;
}


.selective-item .navigate-circle {
  width: 28px;
  height: 28px;
}

.selective-item .Navigation-icon {
  font-size: 16px;
  text-align: center;
  justify-content: center;

}

.selective-item .inner-navigate-circle {
  background-color: white;
  width: 20px;
  height: 20px;
}

.selective-item .rounded-rectangle {
  width: 100%;
  justify-content: space-between;
  margin-left: 10px;
  margin-right: 10px;
  height: 36px;
  width: 260px;

}

.selective-item .rounded-rectangle:hover {
  background-color: #d2c1f9;

}


.selective-item .rounded-rectangle:hover>.navigate-circle {
  background-color: #b597fc;

  .Navigation-icon {
    color: #a57ffc;
  }

  i .sub-text-field {
    color: #6c3dda;
  }
}


.selective-item .rounded-rectangle:active {
  background-color: #decffe;
  transform: scale(0.8);

  .text-field {
    color: white;
  }

  .selective-item .inner-navigate-circle {
    background-color: white;
    width: 20px;
    height: 20px;
  }


}

.download-btn {
  justify-content: center;
  text-align: center;
  margin-top: 100px;
  background-color: #e7defb;
  font-size: 14px;
  font-family: Poppins;
  border-radius: 50px;
  height: 40px;
  color: #6c3dda;
  border: none;
  width: 180px;
  padding: 10px;
  font-weight: 400px;
  transition: 0.2s ease-in-out;
}

.download-btn:hover {
  background-color: #b597fc;
  color: white;

}


.download-btn:active {
  background-color: #814ef7;
  color: white;
  transform: scale(1.1);

}

.fullscreen-grid2 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.category-img{

 object-fit:cover; 
}

.reactplayer1{
  width: 200px;
  height: 300px;
}

.selective-card{
  font-size: 13px;
}